<!DOCTYPE html>
<html>
<head>

    <title>ShopSphere</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<div class="navbar">

    <a href="/">Home</a>

    <a href="/products-page">Products</a>

    <a href="/add-product">Add Product</a>

</div>

<div class="container">

    <div class="card" style="text-align:center;">

    <h1> ShopSphere</h1>

    <p>Modern E-Commerce System using Flask + DynamoDB</p>

    <p style="color:#8b004f;font-weight:bold;">
        CRUD + Reviews + GSI + Full Stack Project
    </p>

</div>

    <div class="card">

    <h2> ✨Features✨: </h2>

    <ul>
        <li>Add Products</li>
        <li>Update Products</li>
        <li>Delete Products</li>
        <li>Add Reviews</li>
        <li>Average Rating</li>
        <li>Filter by Category</li>
        <li>DynamoDB + GSI Support</li>
    </ul>

</div>
    <div class="card">

    <h2> Quick Actions🚀: </h2>

    <a href="/products-page">
        <button>View Products</button>
    </a>

    <a href="/add-product">
        <button>Add New Product</button>
    </a>

</div>

</body>
</html>