<!DOCTYPE html>
<html>
<head>
    <title>Products</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <div class="navbar">

    <a href="/">Home</a>

    <a href="/products-page">Products</a>

    <a href="/add-product">Add Product</a>

</div>

<div class="container">

    <h1>🛍️ All Products 🛍️</h1>

    <!-- Category Filter -->

    <div class="card">

        <a href="/products-page">
            <button>All</button>
        </a>

        <a href="/products-page/category/Electronics">
            <button>Electronics</button>
        </a>

        <a href="/products-page/category/Books">
            <button>Books</button>
        </a>

        <a href="/products-page/category/Clothes">
            <button>Clothes</button>
        </a>

    </div>

    <!-- Products -->

    <div class="product-grid">

{% for product in products %}

<div class="card">

    <h3>{{ product.name }}</h3>

    <p><b>Category:</b> {{ product.category }}</p>

    <p><b>Price:</b> ${{ product.price }}</p>

    <p><b>Stock:</b> {{ product.stock }}</p>

    <a href="/product/{{ product.PK.split('#')[1] }}">
        <button>View Details</button>
    </a>

</div>

{% endfor %}

</div>
</div>

</body>
</html>