<!DOCTYPE html>
<html>
<head>

    <title>Update Product</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<div class="container">

    <h1>Update Product</h1>

    <div class="card">

        <form method="POST">

            <p>Name</p>
            <input type="text"
                   name="name"
                   value="{{ product.name }}">

            <p>Category</p>
            <input type="text"
                   name="category"
                   value="{{ product.category }}">

            <p>Price</p>
            <input type="number"
                   name="price"
                   value="{{ product.price }}">

            <p>Stock</p>
            <input type="number"
                   name="stock"
                   value="{{ product.stock }}">

            <br><br>

            <button type="submit">
                Save Changes
            </button>

        </form>

    </div>

</div>

</body>
</html>